.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
}
.loader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 3em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
	animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.loader-2:before,
.loader-2:after {
	content: "";
}
.loader-2:before {
	border: 1px solid #333;
	top: -1px;
	left: -1px;
	opacity: 0;
	animation-name: loader2-1;
}

@keyframes loader2-1 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.3);
		opacity: 0;
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}

.loader-2:after {
	background-color: #333;
	animation-name: loader2-2;
}

@keyframes loader2-2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}
